<!DOCTYPE html>
<meta http-equiv=’cache-control’ content=’no-cache’>
<meta http-equiv=’expires’ content=’0’>
<meta http-equiv=’pragma’ content=’no-cache’>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Kendo/css")
    <link href="../../Content/MyDesign.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo.compatibility.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.3.930/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.3.930/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.3.930/kendo.default.min.css") " rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2015.3.930/jquery.min.js") "></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.3.930/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.3.930/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.3.930/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.3.930/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <link href="../../Content/bluetheme.css" rel="stylesheet" />
    <link href="../../Content/Calender.css" rel="stylesheet" />
    <link href="../../Content/Home.css" rel="stylesheet" />

    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap/bootstrap.min.js"></script>
    <style>
        .Urowline {
            line-height: 27px;
            font-size: 13px;
            display: -webkit-inline-box;
            margin-right: 30px;
        }

        .Pagefalse {
            pointer-events: none;
            opacity: 0.5;
        }

        .btnButton {
            margin-right: 15px !important;
            margin-left: 0 !important;
            margin-bottom: 2px !important;
            border: 1px solid #8BCADE !important;
            background-color: #C0EAF7 !important;
            font-weight: normal !important;
        }

        .col-md-offset-3 {
            margin-left: 25%;
        }

        .icon {
            font-style: normal !important;
            font-weight: bold;
        }
        input[type=checkbox] {
        vertical-align: sub;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }
    </style>
</head>

<body>
   @Html.Partial("_HeaderMenuFoMaster")
    @RenderBody()
</body>

</html>


<script type="text/javascript">
    $(window).load(function () {
        $("#pageloaddiv").fadeOut(2000);
    });
</script>

